/*
Color Palette

white
black
#0269B8
#295C84
#0D314A
#013D6B
#3981B8
#377EB3
#7FAED4
#397EB7
#012038
*/

:root {
    --navbar_color: #0D314A;
    --navbar_logo_text: #5B9BCD;
    --navbar_logo_text_highlight: #96BFDE;
    --navbar_text: #5B9BCD;
    --navbar_text_highlight: #96BFDE;
    --navbar_dropdown: #295C84;
    --navbar_dropdown_text: #BDD4EA;
    --navbar_dropdown_hover: #0D314A;
    --main-color: white;
    --main_h1: #0D314A;
    --main_text: #012038;
    --card_color: #5B9BCD;
    --card_shadow: #0D314A;
    --footer_color: #0D314A;
    --footer-h1: #5B9BCD;
    --footer_text: white;
}

body {
  display: block;
  overflow-x: hidden;
  background: var(--main-color);
}

/* Navbar */

nav {
  background-color: var(--navbar_color);
}

.navbar-brand img {
  max-height: 50px;
}

.navbar-brand {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 900;
}

/* Navbar Site Title */

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: var(--navbar_logo_text);
}

.navbar-custom .navbar-brand:hover {
  color: var(--navbar_logo_text_highlight);
}

/* Navbar Links */

.navbar-dark .navbar-toggler-icon {
  color: var(--navbar_logo_text);
}

.navbar-nav .nav-item .nav-link {
  color: var(--navbar_text);
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
  color: var(--navbar_text_highlight);
}

/* Navbar Dropdown Menu */

.navbar-nav > li > .dropdown-menu {
  background-color: var(--navbar_dropdown);
}

.navbar-nav > li > .dropdown-menu a{
  color: var(--navbar_dropdown_text);
  margin: auto 0px !important;
}

.navbar-nav > li > .dropdown-menu a:hover {
  background-color: var(--navbar_dropdown_hover);
  margin: auto 0px !important;
}

nav ul li a {
  color: #a9a9a9;
  font-size: 22px;
  margin: auto 10px;
}

/* Section */

section {
  padding-top: 50px;
  padding-bottom: 50px;
}

section h1 {
  text-transform: uppercase;
  font-weight: 900;
  color: var(--main_h1);
  text-align: left;
  margin-bottom: 20px;
}

section p {
  font-size: 16px;
  font-weight: 300;
}

/* Hero */

#hero a {
  max-width: 100%;
}

#hero .btn {
  background-color: var(--navbar_color);
  color: var(--navbar_logo_text);
}

#hero .btn:hover {
  color: var(--navbar_text_highlight);
}

#hero .dropdown ul {
   background-color: var(--navbar_dropdown);
}

#hero .dropdown ul li a {
   color: var(--navbar_dropdown_text);
}

#hero .dropdown ul li a:hover {
   background-color: var(--navbar_dropdown_hover);
}

#hero .col {
  justify-content: center;
  flex-direction: column;
  display: flex;
  color: var(--main_text);
}

#hero .img-col {
  justify-content: flex-end;
  margin-top: 100px;
}

#hero .img {
  max-width: 100% !important;
  width: 100%;
}

#hero .card {
  box-shadow: 11px 7px 16px var(--card_shadow);
  border:0;
  text-align: center;
  background: var(--card_color);
  margin-top: 1;
}

#hero .icon {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}

/* About */

#about p {
  color: var(--main_text);
}

#about a {
  max-width: 50%;
}

#about .img-col {
  padding-top: 50px;
  padding-bottom: 50px;
}

#about .img {
  display: block;
  max-width: 50% !important;
  width: 50%;
  height: auto;
}

#about .btn {
  background-color: var(--navbar_color);
  color: var(--navbar_logo_text);
}

#about .btn:hover {
  color: var(--navbar_text_highlight);
}

/* Projects */

#projects .projects {
  padding-top: 75%px;
  margin-bottom: 50px;
  color: var(--main_text);
}

#projects .card {
  background: var(--card_color);
}

/* Contact */

#contact {
  text-align: center;
  background-color: var(--footer_color);
  color: var(--footer_text);
}

#contact h1 {
  text-align: center;
  color: var(--footer-h1);
}
