/*
Color Palette

white
black
#0269B8
#295C84
#013D6B
#3981B8
#7FAED4
#397EB7
#012038
*/

:root {
    --navbar_color: #295C84;
    --navbar_logo_text: #012038;
    --navbar_logo_text_highlight: #3981B8;
    --navbar_text: #012038;
    --navbar_text_highlight: #3981B8;
    --main-color: white;
    --main_h1: #013D6B;
    --main_text: #012038;
    --card_color: #7FAED4;
    --card_shadow: #397EB7;
    --footer_color: #295C84;
    --footer-h1: white;
    --footer_text: white;
}

body {
  display: block;
  overflow-x: hidden;
  background: var(--main-color);
}

/* Navbar */

nav {
  background-color: var(--navbar_color);
}

.navbar-brand img {
  max-height: 50px;
}

.navbar-brand {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--navbar_logo_text);
}

.navbar-brand:hover {
  color: var(--navbar_logo_text_highlight);
}

.navbar-nav .nav-item .nav-link {
    color: var(--navbar_text);
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: var(--navbar_text_highlight);
}

nav ul li a {
  color: #a9a9a9;
  font-size: 22px;
  margin: auto 10px;
}

nav ul li a: hover {
  color: #683aa4;
}

/* Section */

section {
  padding-top: 50px;
  padding-bottom: 50px;
}

section h1 {
  text-transform: uppercase;
  font-weight: 900;
  color: var(--main_h1);
  text-align: left;
  margin-bottom: 20px;
}

section p {
  font-size: 16px;
  font-weight: 300;
}

/* Button */

button {
  max-width: 50%;
  border-radius: 50px !important;
}

/* Hero */

#hero a {
  max-width: 50%;
  border-radius: 50px !important;
}

#hero .col {
  justify-content: center;
  flex-direction: column;
  display: flex;
  color: var(--main_text);
}

#hero .img-col {
  justify-content: flex-end;
  margin-top: 100px;
}

#hero .img {
  max-width: 100% !important;
  width: 100%;
}

#hero .card {
  box-shadow: 11px 7px 16px var(--card_shadow);
  border:0;
  text-align: center;
  background: var(--card_color);
}

#hero .icon {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}

#about p {
  color: var(--main_text);
}

#about a {
  max-width: 50%;
  border-radius: 50px !important;
}

#about .img-col {
  justify-content: flex-end;
  margin-top: 50px;
}

#about .img {
  display: block;
  max-width: 50% !important;
  width: 50%;
  height: auto;
}

#projects .projects {
  padding-top: 75%px;
  margin-bottom: 50px;
  color: var(--main_text);
}

#projects .card {
  background: var(--card_color);
}

#contact {
  text-align: center;
  background-color: var(--footer_color);
  color: var(--footer_text);
}

#contact h1 {
  text-align: center;
  color: var(--footer-h1);
}
